.wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    height: 36px;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #161823;
    background-color: var(--white);

    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.icon {
    margin-right: 8px;
}

.title {
}

.rounded {
    border-radius: 52px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        border-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary-color);
    border: var(--primary-color);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
}

.disabled {
}

// Button sizes
.small {
    min-width: 86px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}
