.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container {
    margin-top: 60px;
    width: 100vw;
    max-width: var(--default-layout-width, 60px);
    display: flex;
    justify-content: space-between;
}

.content {
    flex: 1;
    min-height: 100px;
    width: var(--default-layout-content-width, 692px);
    max-width: var(--default-layout-content-width, 692px);
}
